<!DOCTYPE html>
<head>
	<link rel="stylesheet" href=" {{ static_url('createpoll.css') }}">
	{% module cdn_includes() %}
	<title>Profile</title>
</head>
<body>
	{% module navbar() %}
	<div class="container">

		<!-- Display any errors, if needed -->
		{% if error %}
			<span style="color: red">Error: {{ error }}</span>
		{% end %}

		<form method="post">
			<div class="row">
				<div class="col-3">
					<label for="title">Title for the poll</label>
				</div>
				<div class="col-9">
					<input type="text" name="title" required>
				</div>
			</div>
			<!-- DIV for the question -->
    		<div id="question-div" class="row">
    			<div class="col-3">
        			<label for="question">Your Question</label> 
        		</div>
        		<div class="col-9">
        			<textarea rows="4" cols="50" name="question" placeholder="Type in your question here!" required></textarea>
				</div>
    		</div>

    		<!-- DIV for the choices -->
    		<div id="choices">
    			<div class="row">
    				<div class="col-3">
    					<label for="choice">Choice for the poll</label>
    				</div>
    				<div class="col-6">
    					<input type="text" name="choice" required>
    				</div>
    				<div class="col-3">
    					<button type="button" class="remove">Remove</button>
    				</div>
    			</div>
    		</div>

    		<!-- DIV for adding choices -->
    		<div id="add-another" class="row">
    			<button type="button" class="add">Add another choice</button>
    		</div>

    		<div id="participants" class="row">
    			<div class="col-3">
    				<label for="participants">Participants Emails(seperated by commas)</label>
    			</div>
    			<div class="col-6">
    				<input type="text" name="participants" required>
    			</div>
    		</div>

    		<!-- INCLUDE for xsrf security -->
			{% module xsrf_form_html() %}

			<!-- DIV for submitting the form -->
			<div id="submit-form" class="row">	      	
	    		<button type="submit" class="text-center create_poll">Create Poll</button>
	    	</div>

		</form>
	</div>
</body>
</html>
<script>
	$(document).ready(function(){
		var wrapper = $("#choices");

		$(".create_poll").click(function(e){
			var number_of_choices = $('#choices .row').length;
			if(number_of_choices<2){
				e.preventDefault();
				alert("You need atleast 2 options for it to be a poll!");
			}
		})

		//Adds a choice DIV if the add button is clicked.
		$(".add").click(function(){
			var number_of_choices = $('#choices .row').length;
			if(number_of_choices == 2){
				alert("Current functionality only allows for 2 choices, sorry!");
			} else{
				$(wrapper).append('<div class="row"><div class="col-3"><label for="choice">Choice for the poll</label></div><div class="col-6"><input type="text" name="choice" required></div><div class="col-3"><button type="button" class="remove">Remove</button></div></div>');
			}
		});

		//Can't use a simple .click function because it seems to be unreachable under the DIVs.
		$(wrapper).on("click",".remove", function(){
			var number_of_choices = $('#choices .row').length;
			//The parent of the div, is the row, the parent of which is the #choices div, the one the option needs to be removed from.
			if(number_of_choices == 1){
				alert("Can't remove every option!")
			} else {
				$(this).parent().parent().remove();
			}
			
		});

	});
</script>
