<!DOCTYPE html>
<head>
	<link rel="stylesheet" href=" {{ static_url('index.css') }}">
	{% module cdn_includes() %}
	<title> Sign Up</title>
</head>
<body>

<!-- Display errors, if any -->
{% if error %}
<span style="color: red">Error: {{ error }}</span><p>
{% end %}

<!-- Form to submit Sign Up details -->
<form method="post">
	<div class="container signupform">
		<!-- Instructions for Signing Up -->
		<h1> Sign Up </h1>
		<p> Please fill all the details below to sign up </p>
		<hr>
		Rules for selecting a username(Note: The usernames are case insensitive)
		<ol>
			<li> Is 8-20 alphabets long</li>
			<li> No _ or . at the beginning</li>
			<li> No __ or _. or ._ or .. inside </li>
			<li> Is made up of A-Z, a-z, 0-9, _, and .</li>
			<li> Doesn't end with _ or . </li>
		</ol>

		<!-- Input for Username -->
		<label for="username"><b>Username</b></label>
		<input type="text" placeholder="Enter your preferred Username" name="username" required>

		<!-- Input for E-Mail -->
		<label for="email"><b>E-Mail</b></label>
		<input type="text" placeholder="Enter your E-Mail" name="email" required>

		<!-- Input for password -->
		<label for="psword"><b>Password</b></label>
		<input type="password" placeholder="Enter the desired password" name="psword" required>
		
		<!-- INCLUDE for xsrf security -->
		{% module xsrf_form_html() %}

		<!-- Button to submit Sign Up form -->
		<div class="text-center signupbtn">
			<button type="submit" class="text-center">Sign Up</button>
		</div>

	</div>
</form>

</body>
</html>